@model ServiceView

<div class="col">
    <div class="widget-box readonly">
        <div class="widget-header">
            <span class="icon fa fa-th-list"></span>
            <h5>@Resource.ForHeader("Service")</h5>
            <div class="widget-header-buttons">
                <authorize action="Details">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn">
                        <span class="fa fa-info"></span><span class="text">@Resource.ForAction("Details")</span>
                    </a>
                </authorize>
                <authorize action="Edit">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">
                        <span class="fa fa-pencil-alt"></span><span class="text">@Resource.ForAction("Edit")</span>
                    </a>
                </authorize>
            </div>
        </div>
        <div class="widget-content">
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="CreationDate"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="CreationDate" class="datepicker" type="text" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="RateClientName"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="RateClientName" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="RateActivityName"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="RateActivityName" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="RateVehicleTypeName"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="RateVehicleTypeName" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="RateProductName"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="RateProductName" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="Quantity"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="Quantity" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="SelectedEmployees"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <div mvc-lookup-for="SelectedEmployees" url="~/Lookup/EmployeeActive" multi="true" title="@Resource.ForLookup("Employees")"></div>
                </div>
                <div class="control-validation col">
                    <span asp-validation-for="SelectedEmployees"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="SectorName"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="SectorName" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="CarrierName"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="CarrierName" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="VehicleNumber"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="VehicleNumber" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="Location"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="Location" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="CustomsInformation"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="CustomsInformation" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="FullPrice"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="FullPrice" asp-format="{0:C}" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="HoldingPrice"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="HoldingPrice" asp-format="{0:C}" />
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-lg-2">
                    <label asp-for="Comments"></label>
                </div>
                <div class="control-content col-md-9 col-lg-5">
                    <input asp-for="Comments" />
                </div>
            </div>
            <form asp-antiforgery="true">
                <div class="form-group">
                    <div class="form-actions col-lg-7">
                        <button class="btn btn-primary">@Resource.ForAction("Submit")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
