@model ServiceReportQueryView

<div class="col">
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon fa fa-th-list"></span>
            <h5>@Resource.ForHeader("ServiceReport")</h5>
        </div>
        <div class="widget-content">
            <form asp-antiforgery="true">
                <div class="row">
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="ServiceId"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="ServiceId" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="ServiceId"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="StartDate"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="StartDate" type="text" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="StartDate"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="EndDate"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="EndDate" class="datepicker" type="text" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="EndDate"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="ClientIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="ClientIds" url="~/Lookup/Client" multi="true" title="@Resource.ForLookup("Client")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="ClientIds"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="ActivityIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="ActivityIds" url="~/Lookup/Activity" multi="true" title="@Resource.ForLookup("Activity")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="ActivityIds"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="EmployeeIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="EmployeeIds" url="~/Lookup/EmployeeActive" multi="true" title="@Resource.ForLookup("Employee")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="EmployeeIds"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="VehicleTypeIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="VehicleTypeIds" url="~/Lookup/VehicleType" multi="true" title="@Resource.ForLookup("VehicleType")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="VehicleTypeIds"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="ProductIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="ProductIds" url="~/Lookup/Product" multi="true" title="@Resource.ForLookup("Product")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="ProductIds"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="CarrierIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="CarrierIds" url="~/Lookup/Carrier" multi="true" title="@Resource.ForLookup("Carrier")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="CarrierIds"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="SectorIds"></label>
                        </div>
                        <div class="control-content col-6">
                            <div mvc-lookup-for="SectorIds" url="~/Lookup/Sector" multi="true" title="@Resource.ForLookup("Sector")"></div>
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="SectorIds"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="VehicleNumber"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="VehicleNumber" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="VehicleNumber"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="Location"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="Location" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="Location"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="CustomsInformation"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="CustomsInformation" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="CustomsInformation"></span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="control-label col-6">
                            <label asp-for="Comments"></label>
                        </div>
                        <div class="control-content col-6">
                            <input asp-for="Comments" />
                        </div>
                        <div class="control-validation col">
                            <span asp-validation-for="Comments"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-actions col-6">
                        <button class="btn btn-primary">@Resource.ForAction("Search")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
